{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>SmartGuard</title>
		<meta name="description" content="Password Generator page">
		<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>

	</head>
	<body>
		<div id="generator-box">
			<h1 class="header">Generate strong password</h1>
			<form id="generator">

				<div id="options-box">
					<div id="lowercase-box" class="choice-checkbox">
						<label for="lower">
							<input type="checkbox" id="lower"  value="lower" />
							Lowercase
						</label>
					</div>

					<div id="uppercase-box" class="choice-checkbox">
						<label for="upper">
							<input type="checkbox" id="upper"  value="upper" />
							Uppercase
						</label>
					</div>

					<div id="numbers-box" class="choice-checkbox">
						<label for="numbers">
							<input type="checkbox" id="numbers"  value="numbers" />
							Numbers
						</label>
					</div>

					<div id="special-box" class="choice-checkbox">
						<label for="special">					
							<input type="checkbox" id="special"  value="special" />
							Special
						</label>
					</div>
				</div>


				<div id="length-box">
					<input type="range" id="length" min="8" max="100" step="1">
					<p id="show-length"></p>
				</div>
				
				<br />

				<div id="generated-password-box">
					<p id="generated-password"></p>
				</div>

				<br />
				<div id="generator-buttons-box">
					<input type="submit" id="generate" class="generator-buttons" value="GENERATE"/>
					<button id="copy-to-clipboard" class="generator-buttons">Copy Password</button>
					<button id="memorize" class="generator-buttons">Memorize (comming soon)</button>
				</div>
			</form>
		</div>

		<div id="check-password-box">
			<h1 class="header">Check your password</h1>
			<div id="show-strong-box">
				<input type="text" id="show-strong-input">
				<strong id="show-strong-text"></strong>
			</div>

			<div id="character-options">
				<strong id="show-length-checked-password">Length: 0</strong>
				<div id="lowercase-box" class="isCharacter-checkbox">
					<label for="isLower">
						<input type="checkbox" id="isLower"  value="lowerIs" />
						Lowercase
					</label>
				</div>

				<div id="uppercase-box" class="isCharacter-checkbox">
					<label for="isUpper">
						<input type="checkbox" id="isUpper"  value="upperIs" />
						Uppercase
					</label>
				</div>

				<div id="numbers-box" class="isCharacter-checkbox">
					<label for="isNumbers">
						<input type="checkbox" id="isNumbers"  value="numbersIs" />
						Numbers
					</label>
				</div>

				<div id="special-box" class="isCharacter-checkbox">
					<label for="isSpecial">					
						<input type="checkbox" id="isSpecial"  value="specialIs" />
						Special
					</label>
				</div>

			</div>

			<p id="show-seconds"></p> 
			<div id="show-seconds-description">
				<p>Based on formula s = wordspace<sup>^c</sup> / p. Where:</p>
					<ul>
						<li>wordspace - all possible combinations(only for lower case 26 letters, lower + upper 52 combinations per letter</li>
						<li>p - password per second. For example 100 millions passwords / second</li>
						<li>c - length of the password in characters</li>		
						<li>s - seconds</li>			
					</ul>
				<strong>!Attention! This calculation is only for demostration brute force attack time. In real life this process depends on encrypted method(SHA-256, MD5, another), "calculation power" hacker has (Cloud, BotNet, Supercomputer), BRUTEFORCE attack is the last thing hacker does, there is too faster methods to steel your data. Strong password is not enought to keep you data safe</strong>

			</div> 
		</div>

		<div id="theory-box">
			<h1 class="header">F.A.Q.</h1>
			<h3>A little bit of theory</h3>
			<p><strong>--> </strong>Remember that strong password is only first step to keep your data save</p>
			<article><strong>--> </strong>Weak practices – storing passwords in the notes field on your phone, does it auto sync to the cloud, iCloud or Dropbox</article>
			<article><strong>--> </strong>Use memorization technique, create a visualisation of your password to keep it only in your head</article>
			<article>A strong password is one that’s either not easily guessed or not easily brute forced. To make it not easily guessed it can’t be a simple word, to make it not easily cracked it needs to be long and complex. Super computers can go through billions of attempts per second to guess a password. Try to make your passwords a minimum of 14 characters.
			</article>
			<p>How to create strong password?</p>
			<ul>
				<li>Length - at least 14 characters</li>
				<li>Use at least one upper case</li>
				<li>Use at least one numeric value</li>
				<li>Use at least one special symbol (!@#$%^&*()_+-=)</li>
				<li>Dont repeat characters aa-bB-cCc</li>
				<li>Dont use replacing a@ - s$. Hackers know about it.
			</ul>
			
		</div>
		<footer>
			<p>Thank you for using. &copy; 2022 Lublin, Poland. All rights reserved.</p>
		</footer>
		<script src="{% static 'js/main.min.js' %}" type="text/javascript"></script>
	</body>
</html>