body{
	background-image: url('../images/background2.jpg');
	margin: 0px;
	font-family: Monospace;
}

#generator-box{
	background: #c4f7a1;
	width: 70%;
	height: 330px;
	margin: 0px auto;
	border-radius: 5px;
}

#generator{
	padding-top: 5px;
	margin: 0px auto;	
	width:  70%;
	height: 270px;
	background: #59CD90;
	border-radius: 5px;
}

#options-box{
	margin: 0px auto;
	white-space:nowrap;
	text-align: center;  

}

.choice-checkbox{
	display:inline-block;
	float:none;
	margin-left: 30px;


	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

#show-length{
	margin: 0px auto;
	width: 50px;
	font-size: 30px;
}

#length{
	width: 90%;
}

#generated-password-box{
	width: 90%;
	height: 30px;
	border: none;
	margin: 0px auto;
	background: white;
	border-radius: 5px;
	word-break: break-all;
}

#generated-password{
	margin: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}

#generator-buttons-box{
	text-align: center;
}
#memorize{
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}
.generator-buttons{
	display: inline-box;
	width: 25%;
	height: 40px;
	margin: 0px 12px;
}

h1{
	text-align: center;
	margin: 0;
}

/*CHECK PASSWORD SECTION*/
#check-password-box{
	background: #c4f7a1;
	width: 70%;
	height: 400px;
	margin: 10px auto;
	border-radius: 5px;

}
#show-strong-box{
	width:  400px;
	margin: 5px auto;
	padding: 5px;
	background: #B6C197;
}
#show-strong-input{
	width: 100%;
	padding: 0px;
	border: none;
}
#show-strong-text{
	margin: 0px; 
	font-size: 20px;
	color: white;
}
#character-options{
	margin: 0px auto;
	white-space: nowrap;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.isCharacter-checkbox{
	display:inline-block;
	float:none;
	margin-left: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events:none;
}
#show-seconds{
	height: 50px;
	margin: 0px;
	color: black;
	text-align: center;
	font-size: 30px;
}
#show-seconds-description{
	height: 20px;
	margin: 30px;
	color: black;
	font-size: 12px;
}
#show-length-checked-password{
	font-size: 15px;
	text-decoration: underline;
}
/*Theory section*/
#theory-box{
	background: #c4f7a1;
	width: 70%;
	height: 480px;
	margin: 0px auto;
	border-radius: 5px;
	font-size: 15px;
}
#theory-box p,h1,h3,ul, article{
	margin: 10px;
	margin-left: 20px;
}
footer{
	background: #B3E9C7;
	margin-top: 10px;
	height: 40px;
	padding: 10px;
}
footer p{
	margin-top: 10px;
	font-size: 15px;
	text-align: center;
}
